In [1]:
import os
import pandas as pd

In [8]:
dictionary = {"headers": {"Teams": ["team_id", "team_name"], "Matches": ["match_id", "host_team", "guest_team", "host_goals", "guest_goals"]}, "rows": {"Teams": [[10, "Leetcode FC"], [20, "NewYork FC"], [30, "Atlanta FC"], [40, "Chicago FC"], [50, "Toronto FC"]], "Matches": [[1, 10, 20, 30, 0], [2, 30, 10, 2, 2], [3, 10, 50, 5, 1], [4, 20, 30, 1, 0], [5, 50, 30, 1, 0]]}}

In [14]:
name = dictionary["headers"].keys()
name

dict_keys(['Teams', 'Matches'])

In [15]:
columns = dictionary['headers']['Matches']
data = dictionary['rows']['Matches']

In [16]:
database = pd.DataFrame(data=data, columns=columns)

In [17]:
database.to_csv('./data/Matches-1212.csv')

In [18]:
database

   match_id  host_team  guest_team  host_goals  guest_goals
0         1         10          20          30            0
1         2         30          10           2            2
2         3         10          50           5            1
3         4         20          30           1            0
4         5         50          30           1            0