In [1]:
import os
import pandas as pd

In [31]:
dictionary = {"headers": ["user_id", "post_id", "action_date", "action", "extra", "post_id", "remove_date", "CASE WHEN remove_date IS NOT None THEN 1 ELSE 0 END"], "values": [[2, 2, "2019-07-04", "report", "spam", 2, "2019-07-20", 1], [4, 3, "2019-07-02", "report", "spam", 3, "2019-07-18", 1], [1, 1, "2019-07-01", "view", None, None, None, 0], [1, 1, "2019-07-01", "like", None, None, None, 0], [1, 1, "2019-07-01", "share", None, None, None, 0], [2, 2, "2019-07-04", "view", None, None, None, 0], [3, 4, "2019-07-04", "view", None, None, None, 0], [3, 4, "2019-07-04", "report", "spam", None, None, 0], [4, 3, "2019-07-02", "view", None, None, None, 0], [5, 2, "2019-07-03", "view", None, None, None, 0], [5, 2, "2019-07-03", "report", "racism", None, None, 0], [5, 5, "2019-07-03", "view", None, None, None, 0], [5, 5, "2019-07-03", "report", "racism", None, None, 0]]}

In [32]:
name = dictionary["headers"].keys()
name

AttributeError: 'list' object has no attribute 'keys'

In [33]:
columns = dictionary['headers']['headers']
data = dictionary['rows']['values']

TypeError: list indices must be integers or slices, not str

In [35]:
columns = dictionary['headers']
data = dictionary['values']

In [36]:
database = pd.DataFrame(data=data, columns=columns)

In [38]:
database.sort_values('action_date')

,user_id,post_id,action_date,action,extra,post_id,remove_date,CASE WHEN remove_date IS NOT None THEN 1 ELSE 0 END
2,1,1,2019-07-01,view,None,NaN,None,0
3,1,1,2019-07-01,like,None,NaN,None,0
4,1,1,2019-07-01,share,None,NaN,None,0
1,4,3,2019-07-02,report,spam,3.0,2019-07-18,1
8,4,3,2019-07-02,view,None,NaN,None,0
9,5,2,2019-07-03,view,None,NaN,None,0
10,5,2,2019-07-03,report,racism,NaN,None,0
11,5,5,2019-07-03,view,None,NaN,None,0
12,5,5,2019-07-03,report,racism,NaN,None,0
0,2,2,2019-07-04,report,spam,2.0,2019-07-20,1
5,2,2,2019-07-04,view,None,NaN,None,0
6,3,4,2019-07-04,view,None,NaN,None,0
7,3,4,2019-07-04,report,spam,NaN,None,0

In [28]:
database.to_csv('./data/Items-1158.csv')