In [8]:
import os
import pandas as pd

In [16]:
dictionary = {"headers": {"Employee": ["Id", "Name", "Salary", "DepartmentId"], "Department": ["Id", "Name"]}, "rows": {"Employee": [[1, "Joe", 70000, 1], [2, "Jim", 90000, 1], [3, "Henry", 80000, 2], [4, "Sam", 60000, 2], [5, "Max", 90000, 1]], "Department": [[1, "IT"], [2, "Sales"]]}}

In [18]:
name = dictionary["headers"].keys()
name

dict_keys(['Employee', 'Department'])

In [23]:
columns = dictionary['headers']['Department']
data = dictionary['rows']['Department']

In [24]:
database = pd.DataFrame(data=data, columns=columns)

In [26]:
database.to_csv('./data/Department-184.csv')

In [25]:
database

   Id   Name
0   1     IT
1   2  Sales