In [1]:
import os
import pandas as pd

In [2]:
dictionary = {"headers":{"Transactions":["id","country","state","amount","trans_date"],"Chargebacks":["trans_id","trans_date"]},"rows":{"Transactions":[[101,"US","approved",1000,"2019-05-18"],[102,"US","declined",2000,"2019-05-19"],[103,"US","approved",3000,"2019-06-10"],[104,"US","declined",4000,"2019-06-13"],[105,"US","approved",5000,"2019-06-15"]],"Chargebacks":[[102,"2019-05-29"],[101,"2019-06-30"],[105,"2019-09-18"]]}}

In [8]:
name = dictionary["headers"].keys()
name

dict_keys(['Transactions', 'Chargebacks'])

In [9]:
columns = dictionary['headers']['Chargebacks']
data = dictionary['rows']['Chargebacks']

In [10]:
database = pd.DataFrame(data=data, columns=columns)
database

   trans_id  trans_date
0       102  2019-05-29
1       101  2019-06-30
2       105  2019-09-18

In [11]:
database.to_csv('./data/Chargebacks-1205.csv')

In [21]:
def solution(n):
    # write code here
    num = 1
    day = 0
    result = 0
    
    while day < n:
        result += num * num
        day += num
        num += 1
        print(result, day, num)
    
    return result-(day-n)*(num-1)

In [22]:
solution(11)

1 1 2
5 3 3
14 6 4
30 10 5
55 15 6

35

In [30]:
from math import floor, ceil, log, pow

In [37]:
digits = ceil(log(100, 9))

In [39]:
result = [1]*digits
result==

True

In [32]:
while result != [9]*digits:
    for i in range()

True

In [41]:
list(zip(range(1, 10), range(1, 10), range(1, 10)))

[(1, 1, 1),
 (2, 2, 2),
 (3, 3, 3),
 (4, 4, 4),
 (5, 5, 5),
 (6, 6, 6),
 (7, 7, 7),
 (8, 8, 8),
 (9, 9, 9)]

In [42]:
from itertools import product

In [63]:
def solution(n ):
    # write code here
    digits = ceil(log(n, 9))
    if pow(9, digits)==n:
        return int('9'*digits)

    for nums in product(range(1, 10), repeat=digits):
        result = 1
        for num in nums:
            result *= num
        if result==n:
            return int(''.join(str(num) for num in nums))

    return -1

In [65]:
solution(77)

-1

In [81]:
def solution( n ):
        # write code here
        digits = ceil(log(n, 9))
        if n < 10:
            digits = 2
        if pow(9, digits)==n:
            return int('9'*digits)
        
        while digits<10:
            for nums in product(range(1, 10), repeat=digits):
                result = 1
                for num in nums:
                    result *= num
                if result==n:
                    return int(''.join(str(num) for num in nums))
            digits+=1
            
        return -1

In [87]:
solution(10)

25

In [80]:
sol.solution(8)

8

In [72]:
8 % 2

0

In [1]:
import heapq

In [20]:
a = [1, 2]

In [21]:
heapq.heapify(a)

In [22]:
heapq.nlargest(1, a)

[2]

In [13]:
heapq.heappop(a)

2

In [11]:
a

[1, 2, 3]

In [6]:
a = 1
b = 10

In [7]:
def bisearch(l, r):
    cdt = (l+r)/2
    result = cdt**b
    if result>a:
        return l, cdt
    elif result<a:
        return cdt, r
    else:
        return cdt, cdt

In [8]:
round(10.1234567,7)

10.1234567

In [10]:
bisearch(1, 1)

(1.0, 1.0)

In [13]:
a = '{"a": ["b", "c", "d"], "b": ["a", "d"], "c": ["d"]}'

In [16]:
json.loads(a)

{'a': ['b', 'c', 'd'], 'b': ['a', 'd'], 'c': ['d']}

In [35]:
def bisearch(l, r):
    cdt = (l+r)/2
    result = cdt**b
    if result>a:
        return l, cdt
    elif result<a:
        return cdt, r
    else:
        return cdt, cdt

if __name__ == "__main__":
    a, b = 100, 1.3
    l, r = 0, max(a, 1)
    while (r-l)>1e-7:
        print(l, r)
        l, r = bisearch(l, r)
    result = round(l, 6)
    print(result)

0 100
0 50.0
25.0 50.0
25.0 37.5
31.25 37.5
34.375 37.5
34.375 35.9375
34.375 35.15625
34.375 34.765625
34.375 34.5703125
34.47265625 34.5703125
34.521484375 34.5703125
34.5458984375 34.5703125
34.5458984375 34.55810546875
34.5458984375 34.552001953125
34.5489501953125 34.552001953125
34.55047607421875 34.552001953125
34.55047607421875 34.551239013671875
34.55085754394531 34.551239013671875
34.551048278808594 34.551239013671875
34.551048278808594 34.551143646240234
34.551048278808594 34.551095962524414
34.551072120666504 34.551095962524414
34.551072120666504 34.55108404159546
34.551072120666504 34.55107808113098
34.551072120666504 34.55107510089874
34.551072120666504 34.55107361078262
34.551072865724564 34.55107361078262
34.551072865724564 34.55107323825359
34.551072865724564 34.55107305198908
34.551073

In [31]:
import numpy as np

In [32]:
np.sqrt(0.5)

0.7071067811865476

In [40]:
(-2)**(2)

4

In [41]:
10 //2

5

In [52]:
from math import ceil

In [58]:
N = 2
nums = [2,8]

result = -1
if sum(nums) % N == 0:
    target = sum(nums) // N
    move = 0
    for num in nums:
        move += max(0, num-target)
    result = move // 2
print(result if result else -1)

1