In [1]:
import os
import pandas as pd

In [2]:
dictionary = {"headers":{"Students":["student_id","student_name"],"Subjects":["subject_name"],"Examinations":["student_id","subject_name"]},"rows":{"Students":[[1,"Alice"],[2,"Bob"],[13,"John"],[6,"Alex"]],"Subjects":[["Math"],["Physics"],["Programming"]],"Examinations":[[1,"Math"],[1,"Physics"],[1,"Programming"],[2,"Programming"],[1,"Physics"],[1,"Math"],[13,"Math"],[13,"Programming"],[13,"Physics"],[2,"Math"],[1,"Math"]]}}

In [3]:
name = dictionary["headers"].keys()
name

dict_keys(['Students', 'Subjects', 'Examinations'])

In [10]:
columns = dictionary['headers']['Examinations']
data = dictionary['rows']['Examinations']

In [11]:
database = pd.DataFrame(data=data, columns=columns)
database

    student_id subject_name
0            1         Math
1            1      Physics
2            1  Programming
3            2  Programming
4            1      Physics
5            1         Math
6           13         Math
7           13  Programming
8           13      Physics
9            2         Math
10           1         Math

In [12]:
database.to_csv('./data/Examinations-1280.csv')