In [1]:
import os
import pandas as pd

In [2]:
dictionary = {"headers":{"Transactions":["id","country","state","amount","trans_date"],"Chargebacks":["trans_id","trans_date"]},"rows":{"Transactions":[[101,"US","approved",1000,"2019-05-18"],[102,"US","declined",2000,"2019-05-19"],[103,"US","approved",3000,"2019-06-10"],[104,"US","declined",4000,"2019-06-13"],[105,"US","approved",5000,"2019-06-15"]],"Chargebacks":[[102,"2019-05-29"],[101,"2019-06-30"],[105,"2019-09-18"]]}}

In [8]:
name = dictionary["headers"].keys()
name

dict_keys(['Transactions', 'Chargebacks'])

In [9]:
columns = dictionary['headers']['Chargebacks']
data = dictionary['rows']['Chargebacks']

In [10]:
database = pd.DataFrame(data=data, columns=columns)
database

   trans_id  trans_date
0       102  2019-05-29
1       101  2019-06-30
2       105  2019-09-18

In [11]:
database.to_csv('./data/Chargebacks-1205.csv')