In [1]:
import os
import pandas as pd

In [2]:
dictionary = {"headers":{"student":["name","continent"]},"rows":{"student":[["Jane","America"],["Pascal","Europe"],["Xi","Asia"],["Jack","America"]]}}

In [3]:
name = dictionary["headers"].keys()
name

dict_keys(['student'])

In [6]:
columns = dictionary['headers']['student']
data = dictionary['rows']['student']

In [8]:
database = pd.DataFrame(data=data, columns=columns)

In [10]:
database.to_csv('./data/Student-618.csv')

In [9]:
database

     name continent
0    Jane   America
1  Pascal    Europe
2      Xi      Asia
3    Jack   America