In [1]:
import os
import pandas as pd

In [40]:
dictionary = {"headers": {"Employee": ["Id", "Company", "Salary"]}, "rows": {"Employee": [[1, "A", 2341],[2, "A", 341],[3, "A", 15],[4, "A", 15314],[5, "A", 451],[6, "A", 513],[7, "B", 15],[8, "B", 13],[9, "B", 1154],[10, "B", 1345],[11, "B", 1221],[12, "B", 234],[13, "C", 2345],[14, "C", 2645],[15, "C", 2645],[16, "C", 2652],[17, "C", 65]]}}

In [41]:
name = dictionary["headers"].keys()
name

dict_keys(['Employee'])

In [42]:
columns = dictionary['headers']['Employee']
data = dictionary['rows']['Employee']

In [44]:
database = pd.DataFrame(data=data, columns=columns)
database

    Id Company  Salary
0    1       A    2341
1    2       A     341
2    3       A      15
3    4       A   15314
4    5       A     451
5    6       A     513
6    7       B      15
7    8       B      13
8    9       B    1154
9   10       B    1345
10  11       B    1221
11  12       B     234
12  13       C    2345
13  14       C    2645
14  15       C    2645
15  16       C    2652
16  17       C      65

In [45]:
database.to_csv('./data/Employee-569.csv')